.backgroundImage {
    
    background: url("https://images.unsplash.com/photo-1521321205814-9d673c65c167?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1053&q=80");
    opacity: 0.5;
    height: 100vh;
    width: 100%;
    background-size: cover;
}

.title {
    position: fixed;
    z-index: 2;
}